01_distances - KEY.txt
02_projectile_motion - KEY.txt
03a_wall_collision - KEY.txt
03b_wall_collision - KEY.txt
04a_ball_collision - KEY.txt
04b_ball_collision - KEY.txt
05_pathing_with_vectors - KEY.txt
06_tanks - KEY.txt
08_bounce3d - KEY.txt
09_pong - KEY.txt
10_alien_invasion - KEY.txt
11_tanks - KEY.txt
12_create3d - KEY.txt
13a_box_collision - KEY.txt
13b_box_collision - KEY.txt
14a_machine-learning - Key.ipynb
14b_ML_tanks - KEY.txt
15_kinematic_chain - KEY.txt
16_space_battle - KEY.txt
lib/__pycache__/
14b_ML_tanks - model.pkl
00_coding_intro - Key.ipynb
17_star_field - KEY.txt
